<nav class="main-header">
  <h1 class="main-header-title"><%= t('activerecord.models.store') %></h1>
</nav>

<div class="main-contents">
  <div class="main-contents-title-wrap">
    <h2 class="main-contents-title mb-0"><%= t('activerecord.models.store') %>一覧</h2>
    <%= link_to t('common.new'), new_user_page_store_path, class: 'btn btn-sm btn-primary ml-auto' %>
  </div>

  <div class="box box-bordered mb-2">
    <table class="table-default table-striped">
      <thead>
        <th><%= t('activerecord.attributes.store.name') %></th>
        <th><%= t('activerecord.attributes.store.phone') %></th>
        <th><%= t('activerecord.attributes.store.postcode') %></th>
        <th><%= t('activerecord.attributes.store.address') %></th>
        <th></th>
      </thead>
      <tbody>
        <% @stores.each do |store| %>
          <tr>
            <td><%= link_to store.name, user_page_store_path(store), class: 'btn btn-link' %></td>
            <td><%= store.display_phone %></td>
            <td><%= store.display_postcode %></td>
            <td><%= store.address %></td>
            <td><%= link_to '店舗ページへ', store_page_dashboard_path(store_ulid: store.ulid), class: 'btn btn-link' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="d-flex">
    <%#= paginate @stores %>
  </div>

</div>
