<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= content_for?(:html_title) ? yield(:html_title) : 'Reminder' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body id="body">
    <%= render 'layouts/flash_message' %>
    <div class="body-inner">
      <nav class="main-menu">
        <div class="menu-btn-wrap">
          <i class="icon-menu menu-btn" onclick="menuToggle()"></i>
        </div>

        <figure class="user-info">
          <div class="user-icon mr-3"><i class="icon-user"></i></div>
          <div>
            <label class="user-name"><%= current_user.name %></label>
          </div>
        </figure>
        
        <ul class="icon-link-list dark ml-1">
          <li class="<%= 'current' if controller_path == 'user_page/stores' %>"><%= link_to content_tag(:i, '', class: 'icon-store') + content_tag(:label, t('activerecord.models.store') + '管理'), user_page_stores_path, class: 'link' %></li>
        </ul>

        <p class="copyright">&copy;Reminder</p>
      </nav>

      <main class="main-col">
        <%= yield %>
      </main>
        
    </div>
  </body>
</html>
